root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.js]
indent_size = 4

[*.html]
indent_size = 4

[{*.css,*.less,*.scss,*.styl}]
indent_size = 4

[{*.json,*.yml,*.haml,*.txt}]
indent_size = 2
